package role

import (
	"fmt"
	"testing"

	"github.com/golang/mock/gomock"
	"github.com/stretchr/testify/assert"
	"gopkg.in/guregu/null.v3"
)

func TestManagerRole_Get(t *testing.T) {
	ctx := context.TODO()
	ctrl := gomock.NewController(t)
	mockDataRole := NewMockDataRoleAdapter(ctrl)

	tests := []struct {
		name    string
		rol     *Role
		wantErr bool
		calls   []*gomock.Call
	}{
		{
			"successful",
			&Role{Id: "test id"},
			false,
			[]*gomock.Call{
				mockDataRole.EXPECT().Read(gomock.Any()).Return(nil),
			},
		},
		{
			"invalid id",
			&Role{Id: ""},
			true,
			[]*gomock.Call{},
		},
	}
	for _, tt := range tests {
		t.Run(tt.name, func(t *testing.T) {
			m := &ManagerRole{dataRole: mockDataRole}
			err := m.Get(ctx, tt.rol)
			if !tt.wantErr {
				assert.Nil(t, err, "ManagerRole.Get().%s => expected not error; got: %s", tt.name, err)
			}
			if tt.wantErr {
				assert.NotNil(t, err, "ManagerRole.Get().%s => expected error: got nil", tt.name)
			}
		})
	}
}

func TestManagerRole_Post(t *testing.T) {
	ctx := context.TODO()
	ctrl := gomock.NewController(t)
	mockDataRole := NewMockDataRoleAdapter(ctrl)

	tests := []struct {
		name    string
		rol     *Role
		wantErr bool
		calls   []*gomock.Call
	}{
		{
			"successful",
			&Role{Name: null.NewString("a", true), Description: null.NewString("a", true), Id: "a"},
			false,
			[]*gomock.Call{mockDataRole.EXPECT().Create(gomock.Any()).Return(nil).AnyTimes()},
		},
		{
			"failed - id",
			&Role{Id: "a", Name: null.NewString("a", true), Description: null.NewString("a", true)},
			true,
			[]*gomock.Call{},
		},
		{
			"failed - name",
			&Role{Id: "a", Name: null.NewString("a", false), Description: null.NewString("a", true)},
			true,
			[]*gomock.Call{},
		},
		{
			"failed - length name",
			&Role{Description: null.NewString("a", true), Id: "a", Name: null.NewString("012345678901234567890123456789012345678901234567890123456789", true)},
			true,
			[]*gomock.Call{},
		},
		{
			"failed - length description",
			&Role{Id: "a", Name: null.NewString("a", true), Description: null.NewString("012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789", true)},
			true,
			[]*gomock.Call{},
		},
	}
	for _, tt := range tests {
		t.Run(tt.name, func(t *testing.T) {
			m := &ManagerRole{dataRole: mockDataRole}
			err := m.Post(ctx, tt.rol)
			if !tt.wantErr {
				assert.Nil(t, err, "ManagerRole.Create().%s => expected not error; got: %s", tt.name, err)
			}
			if tt.wantErr {
				assert.NotNil(t, err, "ManagerRole.Create().%s => expected error: got nil", tt.name)
			}
		})
	}
}

func TestManagerRole_Patch(t *testing.T) {
	ctx := context.TODO()
	ctrl := gomock.NewController(t)
	mockDataRole := NewMockDataRoleAdapter(ctrl)

	tests := []struct {
		name    string
		body    Role
		wantErr bool
		calls   []*gomock.Call
	}{
		{
			"successful",
			Role{Id: "test value"},
			false,
			[]*gomock.Call{
				mockDataRole.EXPECT().Read(gomock.Any()).Return(nil),
				mockDataRole.EXPECT().Update(gomock.Any()).Return(nil),
			},
		},
		{
			"invalid id",
			Role{Id: "test value"},
			true,
			[]*gomock.Call{
				mockDataRole.EXPECT().Read(gomock.Any()).Return(fmt.Errorf("missing record")),
			},
		},
	}
	for _, tt := range tests {
		t.Run(tt.name, func(t *testing.T) {
			m := &ManagerRole{dataRole: mockDataRole}
			err := m.Patch(ctx, tt.body)
			if !tt.wantErr {
				assert.Nil(t, err, "ManagerRole.Update().%s => expected not error; got: %s", tt.name, err)
			}
			if tt.wantErr {
				assert.NotNil(t, err, "ManagerRole.Update().%s => expected error: got nil", tt.name)
			}
		})
	}
}

func TestManagerRole_Delete(t *testing.T) {
	ctx := context.TODO()
	ctrl := gomock.NewController(t)
	mockDataRole := NewMockDataRoleAdapter(ctrl)

	tests := []struct {
		name    string
		rol     *Role
		wantErr bool
		calls   []*gomock.Call
	}{
		{
			"successful",
			&Role{Id: "test id"},
			false,
			[]*gomock.Call{
				mockDataRole.EXPECT().Delete(gomock.Any()).Return(nil),
			},
		},
		{
			"invalid id",
			&Role{Id: ""},
			true,
			[]*gomock.Call{},
		},
	}
	for _, tt := range tests {
		t.Run(tt.name, func(t *testing.T) {
			m := &ManagerRole{dataRole: mockDataRole}
			err := m.Delete(ctx, tt.rol)
			if !tt.wantErr {
				assert.Nil(t, err, "ManagerRole.Delete().%s => expected not error; got: %s", tt.name, err)
			}
			if tt.wantErr {
				assert.NotNil(t, err, "ManagerRole.Delete().%s => expected error: got nil", tt.name)
			}
		})
	}
}
