message IDIn {
	int64 Id = 1;
}

message Result {
	bool Success = 1;
	string Error = 2;
}

message Login {
	string Uid = 1;
	string EmailAddr = 2;
	string Pwd = 3;
	bool Active = 4;
	bool SetPwd = 5;
	string CreatedAt = 6;
	string UpdatedAt = 7;
}

message LoginResponse {
	Login Login = 1;
	Result result = 2;
}

message LoginRepeatResponse {
	repeated Login Login = 1;
	Result result = 2;
}

service LoginService {
	rpc GetLogin(LoginIDIn) returns (LoginResponse);
	rpc SearchLogin(Login) returns (LoginRepeatResponse);
	rpc CreateLogin(Login) returns (LoginResponse);
	rpc UpdateLogin(Login) returns (Result);
	rpc DeleteLogin(LoginIDIn) returns (Result);
}

message LoginIDIn {
	string Uid = 1;
}
