package {{.CurrentEntity.AllLower}}

import (
	"encoding/json"

	ae "{{.ProjectPath}}/internal/api_error"
	p "{{.ProjectPath}}/pkg/proto"
)

type (
	{{.CurrentEntity.Camel}}Grpc struct {
		p.Unimplemented{{.CurrentEntity.Camel}}ServiceServer
		manager{{.CurrentEntity.Camel}} Manager{{.CurrentEntity.Camel}}Adapter
	}
)

func New{{.CurrentEntity.Camel}}Grpc(m{{.CurrentEntity.Abbr}} Manager{{.CurrentEntity.Camel}}Adapter) *{{.CurrentEntity.Camel}}Grpc {
	return &{{.CurrentEntity.Camel}}Grpc{manager{{.CurrentEntity.Camel}}: m{{.CurrentEntity.Abbr}}}
}

func translateOut({{.CurrentEntity.Abbr}} *{{.CurrentEntity.Camel}}) (*p.{{.CurrentEntity.Camel}}, error) {
	proto{{.CurrentEntity.Camel}} := p.{{.CurrentEntity.Camel}}{}
	return &proto{{.CurrentEntity.Camel}}, nil
}

func translateIn(in *p.{{.CurrentEntity.Camel}}) (*{{.CurrentEntity.Camel}}, error) {
	{{.CurrentEntity.Abbr}} := {{.CurrentEntity.Camel}}{}
	return &{{.CurrentEntity.Abbr}}, nil
}

// found these are slower; deprecated; keep them, just in case
func translateJsonOut({{.CurrentEntity.Abbr}} *{{.CurrentEntity.Camel}}) (*p.{{.CurrentEntity.Camel}}, error) {
	proto{{.CurrentEntity.Camel}} := p.{{.CurrentEntity.Camel}}{}
	outBytes, err := json.Marshal({{.CurrentEntity.Abbr}})
	if err != nil {
		return &proto{{.CurrentEntity.Camel}}, ae.GeneralError("Unable to encode from {{.CurrentEntity.Camel}}", err)
	}
	err = json.Unmarshal(outBytes, &proto{{.CurrentEntity.Camel}})
	if err != nil {
		return &proto{{.CurrentEntity.Camel}}, ae.GeneralError("Unable to decode to proto.{{.CurrentEntity.Camel}}", err)
	}
	return &proto{{.CurrentEntity.Camel}}, nil
}

func translateJsonIn(in *p.{{.CurrentEntity.Camel}}) (*{{.CurrentEntity.Camel}}, error) {
	{{.CurrentEntity.Abbr}} := {{.CurrentEntity.Camel}}{}
	outBytes, err := json.Marshal(in)
	if err != nil {
		return &{{.CurrentEntity.Abbr}}, ae.GeneralError("Unable to encode from proto.{{.CurrentEntity.Camel}}", err)
	}
	err = json.Unmarshal(outBytes, &{{.CurrentEntity.Abbr}})
	if err != nil {
		return &{{.CurrentEntity.Abbr}}, ae.GeneralError("Unable to decode to {{.CurrentEntity.Camel}}", err)
	}
	return &{{.CurrentEntity.Abbr}}, nil
}
