package {{.CurrentEntity.AllLower}}

import (
	"github.com/labstack/echo/v4"
)

type (
	Manager{{.CurrentEntity.Camel}}Adapter interface {
	}

	Rest{{.CurrentEntity.Camel}} struct {
		manager{{.CurrentEntity.Camel}} Manager{{.CurrentEntity.Camel}}Adapter
	}
)

func InitializeRest(eg *echo.Group) {
	sl := InitStorage()
	ml := NewManager{{.CurrentEntity.Camel}}(sl)
	hl := NewRest{{.CurrentEntity.Camel}}(ml)
	hl.Load{{.CurrentEntity.Camel}}Routes(eg)
}

func NewRest{{.CurrentEntity.Camel}}(m{{.CurrentEntity.Abbr}} Manager{{.CurrentEntity.Camel}}Adapter) *Rest{{.CurrentEntity.Camel}} {
	return &Rest{{.CurrentEntity.Camel}}{manager{{.CurrentEntity.Camel}}: m{{.CurrentEntity.Abbr}}}
}

func (h *Rest{{.CurrentEntity.Camel}}) Load{{.CurrentEntity.Camel}}Routes(eg *echo.Group) {
}
