package login

import (
	"net/mail"
	"time"

	"{{.ProjectPath}}/config"
	ae "{{.ProjectPath}}/internal/api_error"
	a "{{.ProjectPath}}/internal/audit"
	mid "{{.ProjectPath}}/internal/middleware"
	"{{.ProjectPath}}/internal/util"
	"{{.ProjectPath}}/internal/util/email"
	"gopkg.in/guregu/null.v3"
)

//go:generate mockgen -source=manager.go -destination=mock.go -package=login
type (
	DataLoginAdapter interface {
		Read(*Login) error
		ReadAll(*[]Login, LoginParam) (int, error)
		Create(*Login, ResetRequest) error
		Update(Login) error
		UpdatePwd(Login) error
		Delete(*Login) error
		GetByEmailAddr(*Login) error
		GetResetRequest(*ResetRequest) error
		ResetRequest(*ResetRequest) error
	}

	ManagerLogin struct {
		dataLogin   DataLoginAdapter
		auditWriter a.AuditAdapter
		emailer     email.Emailer
	}
)

func NewManagerLogin(clog DataLoginAdapter) *ManagerLogin {
	aw := a.AuditInit()
	em := email.EmailInit()
	return &ManagerLogin{dataLogin: clog, auditWriter: aw, emailer: em}
}

func (m *ManagerLogin) Get(login *Login) error {
	if login.Uid == "" {
		return ae.MissingParamError("Uid")
	}
	return m.dataLogin.Read(login)
}

func (m *ManagerLogin) Search(login *[]Login, param LoginParam) (int, error) {
	param.Param.CalculateParam("email_addr", map[string]string{"email_addr": "email_addr", "pwd": "pwd", "active": "active", "set_pwd": "set_pwd", "created_at": "created_at", "updated_at": "updated_at"})

	return m.dataLogin.ReadAll(login, param)
}

func (m *ManagerLogin) Post(login *Login) error {
	if !login.EmailAddr.Valid {
		return ae.MissingParamError("EmailAddress")
	}
	if login.EmailAddr.Valid && len(login.EmailAddr.ValueOrZero()) > 100 {
		return ae.StringLengthError("EmailAddress", 100)
	}
	if _, err := mail.ParseAddress(login.EmailAddr.String); err != nil {
		return ae.EmailValidError(err.Error())
	}
	// check if email is already used before
	logDup := &Login{EmailAddr: login.EmailAddr}
	if err := m.dataLogin.GetByEmailAddr(logDup); err != nil {
		return err
	}
	if logDup.Uid != "" {
		return ae.DuplicateEmailError(logDup.EmailAddr.String)
	}
	// set this to empty string
	login.Pwd = null.NewString("", true)
	login.SetPwd = null.BoolFrom(true)
	login.Active = null.BoolFrom(true)
	login.CreatedAt.Scan(time.Now().UTC())
	login.Uid = util.GenerateUUID()
	resetRequest := ResetRequest{LoginUid: login.Uid, ResetToken: util.GenerateUUID(), CreatedAt: time.Now().UTC()}
	if err := m.dataLogin.Create(login, resetRequest); err != nil {
		return err
	}
	go m.emailer.SendReset(login.EmailAddr.String, resetRequest.ResetToken)
	go a.AuditCreate(m.auditWriter, *login, LoginConst, a.KeysToString("uid", login.Uid))
	return nil
}

// Patch only allows to update the email or active, see PatchPwd to update the pwd
func (m *ManagerLogin) Patch(logIn Login) error {
	login := &Login{Uid: logIn.Uid}
	errGet := m.dataLogin.Read(login)
	if errGet != nil {
		return errGet
	}
	existingValues := make(map[string]interface{})
	// EmailAddr
	if logIn.EmailAddr.Valid {
		if logIn.EmailAddr.Valid && len(logIn.EmailAddr.ValueOrZero()) > 100 {
			return ae.StringLengthError("EmailAddress", 100)
		}
		existingValues["email_addr"] = login.EmailAddr.String
		login.EmailAddr = logIn.EmailAddr
	}
	// Active
	if logIn.Active.Valid {
		existingValues["active"] = login.Active.Bool
		login.Active = logIn.Active
	}

	login.UpdatedAt.Scan(time.Now().UTC())
	if err := m.dataLogin.Update(*login); err != nil {
		return err
	}
	go a.AuditPatch(m.auditWriter, *login, LoginConst, a.KeysToString("uid", login.Uid), existingValues)
	return nil
}

// PatchPwd only allows to change the pwd, see Patch to update the email
func (m *ManagerLogin) PatchPwd(logIn Login) error {
	if logIn.Uid == "" {
		return ae.MissingParamError("Uid")
	}
	login := &Login{Uid: logIn.Uid}
	errGet := m.dataLogin.Read(login)
	if errGet != nil {
		return errGet
	}
	existingValues := make(map[string]interface{})
	if logIn.Pwd.Valid {
		if login.Pwd.Valid && len(logIn.Pwd.ValueOrZero()) > 72 {
			return ae.StringLengthError("Pwd", 72)
		}
		existingValues["pwd"] = login.Pwd.String
	}
	if err := util.PasswordValidator(logIn.Pwd.String, logIn.ConfirmPwd.String); err != nil {
		return err
	}
	hashPwd, errHash := util.EncryptPassword(logIn.Pwd.String)
	if errHash != nil {
		return errHash
	}
	login.Pwd.Scan(hashPwd)
	if err := m.dataLogin.UpdatePwd(*login); err != nil {
		return err
	}
	go a.AuditPatch(m.auditWriter, *login, LoginConst, a.KeysToString("uid", login.Uid), existingValues)
	return nil
}

func (m *ManagerLogin) Delete(login *Login) error {
	if login.Uid == "" {
		return ae.MissingParamError("Uid")
	}
	if err := m.dataLogin.Delete(login); err != nil {
		return err
	}
	go a.AuditDelete(m.auditWriter, *login, LoginConst, a.KeysToString("uid", login.Uid))
	return nil
}

// ResetPwd takes email, pwd, confirmPwd
func (m *ManagerLogin) PwdReset(pwd PasswordReset) error {
	if pwd.EmailAddr == "" {
		return ae.MissingParamError("EmailAddress")
	}
	login := Login{EmailAddr: null.StringFrom(pwd.EmailAddr)}
	if errLogin := m.dataLogin.GetByEmailAddr(&login); errLogin != nil {
		return errLogin
	}
	// reset login is still valid
	resetRequest := ResetRequest{LoginUid: login.Uid, ResetToken: pwd.ResetToken}
	if errReset := m.dataLogin.GetResetRequest(&resetRequest); errReset != nil {
		detail := errReset.(ae.ApiError).BodyError().Detail
		if detail == "No Results Error" {
			return ae.ResetTokenInvalidError()
		}
		return errReset
	}
	now := time.Now().UTC()
	expired := resetRequest.CreatedAt.Add(time.Duration(config.GetResetDuration()*24) * time.Hour)
	if now.After(expired) {
		return ae.ResetTokenInvalidError()
	}
	// makes sure the login record is in the correct state for pwd reset
	if !login.Active.Bool {
		return ae.LoginActiveError()
	}
	if !login.SetPwd.Bool {
		return ae.ResetTokenInvalidError()
	}
	// validates the pwd, save to storage if all is good
	existingValues := make(map[string]interface{})
	if pwd.Pwd.Valid {
		if pwd.Pwd.Valid && len(pwd.Pwd.ValueOrZero()) > 72 {
			return ae.StringLengthError("Pwd", 72)
		}
		existingValues["pwd"] = login.Pwd.String
	}
	if err := util.PasswordValidator(pwd.Pwd.String, pwd.ConfirmPwd.String); err != nil {
		return err
	}
	hashPwd, errHash := util.EncryptPassword(pwd.Pwd.String)
	if errHash != nil {
		return errHash
	}
	login.Pwd.Scan(hashPwd)
	if err := m.dataLogin.UpdatePwd(login); err != nil {
		return err
	}
	go a.AuditPatch(m.auditWriter, login, LoginConst, a.KeysToString("uid", login.Uid), existingValues)
	return nil
}

func (m *ManagerLogin) ResetRequest(res *ResetRequest) error {
	if res.EmailAddr == "" {
		return ae.MissingParamError("EmailAddress")
	}
	login := &Login{EmailAddr: null.StringFrom(res.EmailAddr)}
	err := m.dataLogin.GetByEmailAddr(login)
	if err != nil {
		detail := err.(ae.ApiError).BodyError().Detail
		if detail == "No Results Error" {
			// no valid email, send back success
			return nil
		}
		return err // all other errors, at least let the caller know there was an issue
	}
	if login.Active.Valid && !login.Active.Bool {
		// TODO: email address was not active, report here
		return nil
	}
	res.LoginUid = login.Uid
	res.ResetToken = util.GenerateUUID()
	res.CreatedAt = time.Now().UTC()
	return m.dataLogin.ResetRequest(res)
}

func (m *ManagerLogin) SignIn(logIn Login) (string, error) {
	if !logIn.EmailAddr.Valid {
		return "", ae.MissingParamError("EmailAddress")
	}
	login := &Login{EmailAddr: logIn.EmailAddr}
	err := m.dataLogin.GetByEmailAddr(login)
	if err != nil {
		detail := err.(ae.ApiError).BodyError().Detail
		if detail == "No Results Error" {
			return "", ae.EmailPasswordComboError()
		}
		return "", err
	}
	if err := util.CheckPassword(logIn.Pwd.String, login.Pwd.String); err != nil {
		return "", err
	}
	// TODO: the arguement for AuthBuilder is a list of roles for this person
	// at the moment it will give everyone 'admin' priviledges, this will need to change
	token, err := mid.AuthBuild([]string{"admin"})
	if err != nil {
		return "", err
	}
	return token, nil
}
