package {{.CurrentEntity.AllLower}}

import (
	"context"
	{{.ManagerTestImport}}
)

func TestManager{{.CurrentEntity.Camel}}_Get(t *testing.T) {
	ctx := context.TODO()
	ctrl := gomock.NewController(t)
	mockData{{.CurrentEntity.Camel}} := NewMockData{{.CurrentEntity.Camel}}Adapter(ctrl)

	tests := []struct {
		name    string
		{{.CurrentEntity.Abbr}} *{{.CurrentEntity.Camel}}
		wantErr bool
		calls   []*gomock.Call
	}{
		{{.ManagerTestGetRow}}
	}
	for _, tt := range tests {
		t.Run(tt.name, func(t *testing.T) {
			m := &Manager{{.CurrentEntity.Camel}}{data{{.CurrentEntity.Camel}}: mockData{{.CurrentEntity.Camel}}}
			err := m.Get(ctx, tt.{{.CurrentEntity.Abbr}})
			if !tt.wantErr {
				assert.Nil(t, err, "Manager{{.CurrentEntity.Camel}}.Get().%s => expected not error; got: %s", tt.name, err)
			}
			if tt.wantErr {
				assert.NotNil(t, err, "Manager{{.CurrentEntity.Camel}}.Get().%s => expected error: got nil", tt.name)
			}
		})
	}
}

func TestManager{{.CurrentEntity.Camel}}_Post(t *testing.T) {
	ctx := context.TODO()
	ctrl := gomock.NewController(t)
	mockData{{.CurrentEntity.Camel}} := NewMockData{{.CurrentEntity.Camel}}Adapter(ctrl)

	tests := []struct {
		name    string
		{{.CurrentEntity.Abbr}}     *{{.CurrentEntity.Camel}}
		wantErr bool
		calls   []*gomock.Call
	}{
		{{.ManagerTestPostRow}}
	}
	for _, tt := range tests {
		t.Run(tt.name, func(t *testing.T) {
			m := &Manager{{.CurrentEntity.Camel}}{data{{.CurrentEntity.Camel}}: mockData{{.CurrentEntity.Camel}}}
			err := m.Post(ctx, tt.{{.CurrentEntity.Abbr}})
			if !tt.wantErr {
				assert.Nil(t, err, "Manager{{.CurrentEntity.Camel}}.Create().%s => expected not error; got: %s", tt.name, err)
			}
			if tt.wantErr {
				assert.NotNil(t, err, "Manager{{.CurrentEntity.Camel}}.Create().%s => expected error: got nil", tt.name)
			}
		})
	}
}

func TestManager{{.CurrentEntity.Camel}}_Patch(t *testing.T) {
	ctx := context.TODO()
	ctrl := gomock.NewController(t)
	mockData{{.CurrentEntity.Camel}} := NewMockData{{.CurrentEntity.Camel}}Adapter(ctrl)

	tests := []struct {
		name    string
		body   	{{.CurrentEntity.Camel}}
		wantErr bool
		calls   []*gomock.Call
	}{
		{
			"successful",
			{{.CurrentEntity.Camel}}{ {{.ManagerTestPatchInit}} },
			false,
			[]*gomock.Call{
				mockData{{.CurrentEntity.Camel}}.EXPECT().Read(ctx, gomock.Any()).Return(nil),
				mockData{{.CurrentEntity.Camel}}.EXPECT().Update(ctx, gomock.Any()).Return(nil),
			},
		},
		{
			"invalid id",
			{{.CurrentEntity.Camel}}{ {{.ManagerTestPatchInit}} },
			true,
			[]*gomock.Call{
				mockData{{.CurrentEntity.Camel}}.EXPECT().Read(ctx, gomock.Any()).Return(fmt.Errorf("missing record")),
			},
		},
	}
	for _, tt := range tests {
		t.Run(tt.name, func(t *testing.T) {
			m := &Manager{{.CurrentEntity.Camel}}{data{{.CurrentEntity.Camel}}: mockData{{.CurrentEntity.Camel}}}
			err := m.Patch(ctx, tt.body)
			if !tt.wantErr {
				assert.Nil(t, err, "Manager{{.CurrentEntity.Camel}}.Update().%s => expected not error; got: %s", tt.name, err)
			}
			if tt.wantErr {
				assert.NotNil(t, err, "Manager{{.CurrentEntity.Camel}}.Update().%s => expected error: got nil", tt.name)
			}
		})
	}
}

func TestManager{{.CurrentEntity.Camel}}_Delete(t *testing.T) {
	ctx := context.TODO()
	ctrl := gomock.NewController(t)
	mockData{{.CurrentEntity.Camel}} := NewMockData{{.CurrentEntity.Camel}}Adapter(ctrl)

	tests := []struct {
		name    string
		{{.CurrentEntity.Abbr}}     *{{.CurrentEntity.Camel}}
		wantErr bool
		calls   []*gomock.Call
	}{
		{{.ManagerTestDeleteRow}}
	}
	for _, tt := range tests {
		t.Run(tt.name, func(t *testing.T) {
			m := &Manager{{.CurrentEntity.Camel}}{data{{.CurrentEntity.Camel}}: mockData{{.CurrentEntity.Camel}}}
			err := m.Delete(ctx, tt.{{.CurrentEntity.Abbr}})
			if !tt.wantErr {
				assert.Nil(t, err, "Manager{{.CurrentEntity.Camel}}.Delete().%s => expected not error; got: %s", tt.name, err)
			}
			if tt.wantErr {
				assert.NotNil(t, err, "Manager{{.CurrentEntity.Camel}}.Delete().%s => expected error: got nil", tt.name)
			}
		})
	}
}
