package {{.CurrentEntity.AllLower}}

import (
)

type (
	Data{{.CurrentEntity.Camel}}Adapter interface {}

	Manager{{.CurrentEntity.Camel}} struct {
		data{{.CurrentEntity.Camel}} Data{{.CurrentEntity.Camel}}Adapter
	}
)

func NewManager{{.CurrentEntity.Camel}}(c{{.CurrentEntity.Abbr}} Data{{.CurrentEntity.Camel}}Adapter) *Manager{{.CurrentEntity.Camel}} {
	return &Manager{{.CurrentEntity.Camel}}{data{{.CurrentEntity.Camel}}: c{{.CurrentEntity.Abbr}}}
}
