package {{.ProjectNameAllLower}}

import (
)

type (
	Data{{.ProjectNameCamel}}Adapter interface {}

	Manager{{.ProjectNameCamel}} struct {
		data{{.ProjectNameCamel}} Data{{.ProjectNameCamel}}Adapter
	}
)

func NewManager{{.ProjectNameCamel}}(c{{.ProjectNameAbbr}} Data{{.ProjectNameCamel}}Adapter) *Manager{{.ProjectNameCamel}} {
	return &Manager{{.ProjectNameCamel}}{data{{.ProjectNameCamel}}: c{{.ProjectNameAbbr}}}
}
