package {{.CurrentEntity.AllLower}}

import (
	"{{.ProjectPath}}/config"
	"{{.ProjectPath}}/internal/storage"
)

type (
	File{{.CurrentEntity.Camel}} struct {}
)

func (d *File{{.CurrentEntity.Camel}}) Get({{.CurrentEntity.Abbr}} *{{.CurrentEntity.Camel}}) error {
	{{.CurrentEntity.Abbr}}s := []{{.CurrentEntity.Camel}}{}
	if err := storage.OpenFile(config.StorageFileDir, &{{.CurrentEntity.Abbr}}s); err != nil {
		return err
	}
	for _, {{.CurrentEntity.Abbr}}Obj := range {{.CurrentEntity.Abbr}}s {
		if {{.FileKeys}} {
			{{.FileGetColumns}}
			break
		}
	}
	return nil
}

func (d *File{{.CurrentEntity.Camel}}) Select({{.CurrentEntity.Abbr}} *[]{{.CurrentEntity.Camel}}) error {
	return storage.OpenFile(config.StorageFileDir, {{.CurrentEntity.Abbr}})
}

func (d *File{{.CurrentEntity.Camel}}) Post({{.CurrentEntity.Abbr}} *{{.CurrentEntity.Camel}}) error {
	{{.CurrentEntity.Abbr}}s := []{{.CurrentEntity.Camel}}{}
	if err := storage.OpenFile(config.StorageFileDir, &{{.CurrentEntity.Abbr}}s); err != nil {
		return err
	}
	{{.FilePostIncr}}
	{{.CurrentEntity.Abbr}}s = append({{.CurrentEntity.Abbr}}s, *{{.CurrentEntity.Abbr}})
	return storage.SaveFile(config.StorageFileDir, {{.CurrentEntity.Abbr}}s)
}

func (d *File{{.CurrentEntity.Camel}}) Patch({{.CurrentEntity.Abbr}} {{.CurrentEntity.Camel}}) error {
	{{.CurrentEntity.Abbr}}s := []{{.CurrentEntity.Camel}}{}
	if err := storage.OpenFile(config.StorageFileDir, &{{.CurrentEntity.Abbr}}s); err != nil {
		return err
	}
	for i, {{.CurrentEntity.Abbr}}Obj := range {{.CurrentEntity.Abbr}}s {
		if {{.FileKeys}} {
			{{.CurrentEntity.Abbr}}s[i] = *{{.CurrentEntity.Abbr}}
			break
		}
	}
	return storage.SaveFile(config.StorageFileDir, {{.CurrentEntity.Abbr}}s)
}

func (d *File{{.CurrentEntity.Camel}}) Delete({{.CurrentEntity.Abbr}} *{{.CurrentEntity.Camel}}) error {
	{{.CurrentEntity.Abbr}}s := []{{.CurrentEntity.Camel}}{}
	if err := storage.OpenFile(config.StorageFileDir, &{{.CurrentEntity.Abbr}}s); err != nil {
		return err
	}
	for i, {{.CurrentEntity.Abbr}}Obj := range {{.CurrentEntity.Abbr}}s {
		if {{.FileKeys}} {
			{{.CurrentEntity.Abbr}}s = append({{.CurrentEntity.Abbr}}s[:i], {{.CurrentEntity.Abbr}}s[i+1:]...)
			break
		}
	}
	return storage.SaveFile(config.StorageFileDir, {{.CurrentEntity.Abbr}}s) 
}
