package {{.ProjectNameAllLower}}

import (
)

type (
	File{{.ProjectNameCamel}} struct {}
)

func (d *File{{.ProjectNameCamel}}) Get({{.ProjectNameAbbr}} *{{.ProjectNameCamel}}) error {
	return nil
}

func (d *File{{.ProjectNameCamel}}) Search({{.ProjectNameAbbr}} *[]{{.ProjectNameCamel}}) error {
	return nil
}

func (d *File{{.ProjectNameCamel}}) Post({{.ProjectNameAbbr}} *{{.ProjectNameCamel}}) error {
	return nil
}

func (d *File{{.ProjectNameCamel}}) Patch({{.ProjectNameAbbr}} *{{.ProjectNameCamel}}) error {
	return nil
}

func (d *File{{.ProjectNameCamel}}) Delete({{.ProjectNameAbbr}} *{{.ProjectNameCamel}}) error {
	return nil
}
