package {{.CurrentEntity.AllLower}}

import (
)

type (
	File{{.CurrentEntity.Camel}} struct {}
)

func (d *File{{.CurrentEntity.Camel}}) Get({{.CurrentEntity.Abbr}} *{{.CurrentEntity.Camel}}) error {
	return nil
}

func (d *File{{.CurrentEntity.Camel}}) Search({{.CurrentEntity.Abbr}} *[]{{.CurrentEntity.Camel}}) error {
	return nil
}

func (d *File{{.CurrentEntity.Camel}}) Post({{.CurrentEntity.Abbr}} *{{.CurrentEntity.Camel}}) error {
	return nil
}

func (d *File{{.CurrentEntity.Camel}}) Patch({{.CurrentEntity.Abbr}} *{{.CurrentEntity.Camel}}) error {
	return nil
}

func (d *File{{.CurrentEntity.Camel}}) Delete({{.CurrentEntity.Abbr}} *{{.CurrentEntity.Camel}}) error {
	return nil
}
