package main

import (
	"fmt"

	"{{.ProjectPath}}/config"
	"{{.ProjectPath}}/internal/util/email"
	l "{{.ProjectPath}}/internal/v1/login"
	"gopkg.in/guregu/null.v3"
)

// this will populate the admin user
// and populate the reset pwd process

func main() {
	login := &l.Login{EmailAddr: null.StringFrom(config.LoginAdminEmail), SetPwd: null.BoolFrom(true)}
	eh := email.Email{}
	dh := l.InitStorage()
	mh := l.NewManagerLogin(dh, eh)
	if err := mh.Post(login); err != nil {
		fmt.Println("Creating admin error:", err)
		return
	}
	reset := l.ResetRequest{EmailAddr: login.EmailAddr.String}
	if err := mh.ResetRequest(&reset); err != nil {
		fmt.Println("Creating admin reset error:", err)
		return
	}
	fmt.Println("reset token: ", reset.ResetToken)
}
