package {{.ProjectNameAllLower}}

import (
	"github.com/jmoiron/sqlx"

	stor "{{.ProjectPath}}/internal/storage"
)

type (
	SQL{{.ProjectNameCamel}} struct {
		DB *sqlx.DB
	}
)

func InitSQL() *SQL{{.ProjectNameCamel}} {
	db := stor.{{.SQLProvider}}Init()
	return &SQL{{.ProjectNameCamel}}{DB: db}
}

func (d *SQL{{.ProjectNameCamel}}) Read({{.ProjectNameAbbr}} *{{.ProjectNameCamel}}) error {
	return nil
}

func (d *SQL{{.ProjectNameCamel}}) ReadAll({{.ProjectNameAbbr}} *[]{{.ProjectNameCamel}}) error {
	return nil
}

func (d *SQL{{.ProjectNameCamel}}) Create({{.ProjectNameAbbr}} *{{.ProjectNameCamel}}) error {
	return nil
}

func (d *SQL{{.ProjectNameCamel}}) Update({{.ProjectNameAbbr}} *{{.ProjectNameCamel}}) error {
	return nil
}

func (d *SQL{{.ProjectNameCamel}}) Delete({{.ProjectNameAbbr}} *{{.ProjectNameCamel}}) error {
	return nil
}
