package {{.CurrentEntity.AllLower}}

import (
	"github.com/jmoiron/sqlx"

	stor "{{.ProjectPath}}/internal/storage"
)

type (
	SQL{{.CurrentEntity.Camel}} struct {
		DB *sqlx.DB
	}
)

func InitSQL() *SQL{{.CurrentEntity.Camel}} {
	db := stor.{{.SQLProvider}}Init()
	return &SQL{{.CurrentEntity.Camel}}{DB: db}
}

func (d *SQL{{.CurrentEntity.Camel}}) Read({{.CurrentEntity.Abbr}} *{{.CurrentEntity.Camel}}) error {
	return nil
}

func (d *SQL{{.CurrentEntity.Camel}}) ReadAll({{.CurrentEntity.Abbr}} *[]{{.CurrentEntity.Camel}}) error {
	return nil
}

func (d *SQL{{.CurrentEntity.Camel}}) Create({{.CurrentEntity.Abbr}} *{{.CurrentEntity.Camel}}) error {
	return nil
}

func (d *SQL{{.CurrentEntity.Camel}}) Update({{.CurrentEntity.Abbr}} *{{.CurrentEntity.Camel}}) error {
	return nil
}

func (d *SQL{{.CurrentEntity.Camel}}) Delete({{.CurrentEntity.Abbr}} *{{.CurrentEntity.Camel}}) error {
	return nil
}
