package {{.ProjectNameAllLower}}

import (
	"gorm.io/gorm"
	stor "{{.ProjectPath}}/internal/storage"
)

type (
	SQL{{.ProjectNameCamel}} struct {
		DB *gorm.DB
	}
)

func InitSQL() *SQL{{.ProjectNameCamel}} {
	db := stor.GormInit()
	return &SQL{{.ProjectNameCamel}}{DB: db}
}

func (d *SQL{{.ProjectNameCamel}}) Get({{.ProjectNameAbbr}} *{{.ProjectNameCamel}}) error {
	return nil
}

func (d *SQL{{.ProjectNameCamel}}) Search({{.ProjectNameAbbr}} *[]{{.ProjectNameCamel}}) error {
	return nil
}

func (d *SQL{{.ProjectNameCamel}}) Post({{.ProjectNameAbbr}} *{{.ProjectNameCamel}}) error {
	return nil
}

func (d *SQL{{.ProjectNameCamel}}) Patch({{.ProjectNameAbbr}} *{{.ProjectNameCamel}}) error {
	return nil
}

func (d *SQL{{.ProjectNameCamel}}) Delete({{.ProjectNameAbbr}} *{{.ProjectNameCamel}}) error {
	return nil
}
