package {{.CurrentEntity.AllLower}}

import (
	"gorm.io/gorm"
	ae "{{.ProjectPath}}/internal/api_error"
	stor "{{.ProjectPath}}/internal/storage"
)

type (
	SQL{{.CurrentEntity.Camel}} struct {
		DB *gorm.DB
	}
)

func InitSQL() *SQL{{.CurrentEntity.Camel}} {
	db := stor.GormInit()
	return &SQL{{.CurrentEntity.Camel}}{DB: db}
}

func (d *SQL{{.CurrentEntity.Camel}}) Get({{.CurrentEntity.Abbr}} *{{.CurrentEntity.Camel}}) error {
	result := d.DB.Where({{.CurrentEntity.Abbr}}).First({{.CurrentEntity.Abbr}})
	if result.Error != nil {
		return ae.DBError("{{.CurrentEntity.Camel}} Get: unable to select record.", result.Error)
	}
	return nil
}

func (d *SQL{{.CurrentEntity.Camel}}) Search({{.CurrentEntity.Abbr}} *[]{{.CurrentEntity.Camel}}) error {
	result := d.DB.Find({{.CurrentEntity.Abbr}})
	if result.Error != nil {
		return ae.DBError("{{.CurrentEntity.Camel}} Search: unable to select records.", result.Error)
	}
	return nil
}

func (d *SQL{{.CurrentEntity.Camel}}) Post({{.CurrentEntity.Abbr}} *{{.CurrentEntity.Camel}}) error {
	result := d.DB.Create({{.CurrentEntity.Abbr}})
	if result.Error != nil {
		return ae.DBError("{{.CurrentEntity.Camel}} Post: unable to insert record.", result.Error)
	}
	return nil
}

func (d *SQL{{.CurrentEntity.Camel}}) Patch({{.CurrentEntity.Abbr}} {{.CurrentEntity.Camel}}) error {
	result := d.DB.Save({{.CurrentEntity.Abbr}})
	if result.Error != nil {
		return ae.DBError("{{.CurrentEntity.Camel}} Patch: unable to update record.", result.Error)
	}
	return nil
}

func (d *SQL{{.CurrentEntity.Camel}}) Delete({{.CurrentEntity.Abbr}} *{{.CurrentEntity.Camel}}) error {
	result := d.DB.Delete({{.CurrentEntity.Abbr}})
	if result.Error != nil {
		return ae.DBError("{{.CurrentEntity.Camel}} Delete: unable to delete record.", result.Error)
	}
	return nil
}
