package {{.ProjectNameAllLower}}

import (
	"context"

	ae "{{.ProjectPath}}/internal/api_error"
	stor "{{.ProjectPath}}/internal/storage"
	"go.mongodb.org/mongo-driver/bson"
	"go.mongodb.org/mongo-driver/mongo"
)

type (
	Mongo{{.ProjectNameCamel}} struct {
		DB *mongo.Client
	}
)

func InitMongo() *Mongo{{.ProjectNameCamel}} {
	db := stor.MongoInit()
	return &Mongo{{.ProjectNameCamel}}{DB: db}
}

func (d *Mongo{{.ProjectNameCamel}}) Read({{.ProjectNameAbbr}} *{{.ProjectNameCamel}}) error {
	return nil
}

func (d *Mongo{{.ProjectNameCamel}}) ReadAll({{.ProjectNameAbbr}} *[]{{.ProjectNameCamel}}) error {
	return nil
}

func (d *Mongo{{.ProjectNameCamel}}) Create({{.ProjectNameAbbr}} *{{.ProjectNameCamel}}) error {
	return nil
}

func (d *Mongo{{.ProjectNameCamel}}) Update({{.ProjectNameAbbr}} *{{.ProjectNameCamel}}) error {
	return nil
}

func (d *Mongo{{.ProjectNameCamel}}) Delete({{.ProjectNameAbbr}} *{{.ProjectNameCamel}}) error {
	return nil
}
