package loginrole

import (
	"{{.ProjectPath}}/config"
	"{{.ProjectPath}}/internal/util"
)

type (
	LoginRole struct {
		LoginId string `db:"login_id" json:"login_id"`
		RoleId  string `db:"role_id" json:"role_id"`
	}

	LoginRoleData struct {
		Data LoginRole `json:"data"`
	}

	LoginRoleParam struct {
		// TODO: add any other custom params here
		util.Param
	}

	LoginRolePatchData struct {
		Data LoginRolePatch `json:"data"`
	}

	LoginRolePatch struct {
		LoginId string   `json:"loginid"`
		RoleIds []string `json:"role_ids"`
	}
)

const LoginRoleConst = "login_role"

func InitStorage() DataLoginRoleAdapter {
	if config.StorageSQL {
		return InitSQL()
	}
	return nil
}
