package loginrole

import (
	"context"
	"net/http"

	ae "{{.ProjectPath}}/internal/api_error"
	m "{{.ProjectPath}}/internal/middleware"
	util "{{.ProjectPath}}/internal/util"
	"github.com/labstack/echo/v4"
)

type (
	ManagerLoginRoleAdapter interface {
		Get(context.Context, *LoginRole) error
		Search(context.Context, *[]LoginRole, LoginRoleParam) (int, error)
		Post(context.Context, *LoginRole) error
		Patch(context.Context, LoginRolePatch) error
		Delete(context.Context, *LoginRole) error
	}

	RestLoginRole struct {
		managerLoginRole ManagerLoginRoleAdapter
	}
)

func InitializeRest(eg *echo.Group) {
	sl := InitStorage()
	ml := NewManagerLoginRole(sl)
	hl := NewRestLoginRole(ml)
	hl.LoadLoginRoleRoutes(eg)
}

func NewRestLoginRole(mlo ManagerLoginRoleAdapter) *RestLoginRole {
	return &RestLoginRole{managerLoginRole: mlo}
}

func (h *RestLoginRole) LoadLoginRoleRoutes(eg *echo.Group) {
	eg.GET("/login-role/:login_id/role-id/:role_id", h.Get)
	eg.POST("/login-role/search", h.Search)
	eg.POST("/login-role", h.Post)
	eg.PATCH("/login-role", h.Patch)
	eg.DELETE("/login-role/:login_id/role-id/:role_id", h.Delete)
}

func (h *RestLoginRole) Get(c echo.Context) error {
	if !m.AuthContext([]string{"admin"}, c) {
		return ae.AuthorizationError("User has insufficent role permissions")
	}
	loginId := c.Param("login_id")
	roleId := c.Param("role_id")
	loginRole := &LoginRole{LoginId: loginId, RoleId: roleId}
	if err := h.managerLoginRole.Get(c, loginRole); err != nil {
		apiError := err.(ae.ApiError)
		be := apiError.BodyError()
		return c.JSON(be.StatusCode, util.NewOutput(c, nil, &apiError, nil))
	}
	return c.JSON(http.StatusOK, util.NewOutput(c, *loginRole, nil, nil))
}

func (h *RestLoginRole) Search(c echo.Context) error {
	if !m.AuthContext([]string{"admin"}, c) {
		return ae.AuthorizationError("User has insufficent role permissions")
	}
	param := LoginRoleParam{}
	if err := c.Bind(&param); err != nil {
		bindErr := ae.BindError(err)
		return c.JSON(bindErr.StatusCode, util.NewOutput(c, nil, &bindErr, nil))
	}
	loginRoles := &[]LoginRole{}
	totalCount, err := h.managerLoginRole.Search(c, loginRoles, param)
	if err != nil {
		apiError := err.(ae.ApiError)
		be := apiError.BodyError()
		return c.JSON(be.StatusCode, util.NewOutput(c, nil, &apiError, nil))
	}
	return c.JSON(http.StatusOK, util.NewOutput(c, *loginRoles, nil, &totalCount))
}

func (h *RestLoginRole) Post(c echo.Context) error {
	if !m.AuthContext([]string{"admin"}, c) {
		return ae.AuthorizationError("User has insufficent role permissions")
	}
	lo := LoginRole{}
	loData := LoginRoleData{Data: lo}
	if err := c.Bind(&loData); err != nil {
		bindErr := ae.BindError(err)
		return c.JSON(bindErr.StatusCode, util.NewOutput(c, bindErr.BodyError(), &bindErr, nil))
	}
	if err := h.managerLoginRole.Post(c, &loData.Data); err != nil {
		apiError := err.(ae.ApiError)
		be := apiError.BodyError()
		return c.JSON(be.StatusCode, util.NewOutput(c, nil, &apiError, nil))
	}
	return c.JSON(http.StatusOK, util.NewOutput(c, loData.Data, nil, nil))
}

func (h *RestLoginRole) Patch(c echo.Context) error {
	if !m.AuthContext([]string{"admin"}, c) {
		return ae.AuthorizationError("User has insufficent role permissions")
	}
	loData := LoginRolePatchData{}
	if err := c.Bind(&loData); err != nil {
		bindErr := ae.BindError(err)
		return c.JSON(bindErr.StatusCode, util.NewOutput(c, bindErr.BodyError(), &bindErr, nil))
	}
	if err := h.managerLoginRole.Patch(c, loData.Data); err != nil {
		apiError := err.(ae.ApiError)
		be := apiError.BodyError()
		return c.JSON(be.StatusCode, util.NewOutput(c, nil, &apiError, nil))
	}
	return c.NoContent(http.StatusOK)
}

func (h *RestLoginRole) Delete(c echo.Context) error {
	if !m.AuthContext([]string{"admin"}, c) {
		return ae.AuthorizationError("User has insufficent role permissions")
	}
	loginId := c.Param("login_id")
	roleId := c.Param("role_id")
	loginRole := &LoginRole{LoginId: loginId, RoleId: roleId}
	if err := h.managerLoginRole.Delete(c, loginRole); err != nil {
		apiError := err.(ae.ApiError)
		be := apiError.BodyError()
		return c.JSON(be.StatusCode, util.NewOutput(c, nil, &apiError, nil))
	}
	return c.NoContent(http.StatusOK)
}
