package loginrole

import (
	"context"
	"fmt"

	ae "{{.ProjectPath}}/internal/api_error"
	stor "{{.ProjectPath}}/internal/storage"
	"{{.ProjectPath}}/internal/util"
	"github.com/jmoiron/sqlx"
)

type (
	SQLLoginRole struct {
		DB *sqlx.DB
	}
)

func InitSQL() *SQLLoginRole {
	db := stor.PostgresInit()
	return &SQLLoginRole{DB: db}
}

func (d *SQLLoginRole) Read(ctx context.Context, lo *LoginRole) error {
	sqlGet := `
		SELECT
			login_id,
			role_id
		FROM login_role WHERE login_id = $1 and role_id = $2`
	if errDB := d.DB.Get(lo, sqlGet, lo.LoginId, lo.RoleId); errDB != nil {
		return ae.DBError("LoginRole Get: unable to get record.", errDB)
	}
	return nil
}

func (d *SQLLoginRole) ReadAll(ctx context.Context, lo *[]LoginRole, param LoginRoleParam) (int, error) {
	searchStmt, args := util.BuildSearchString(param.Param, false)
	sqlSearch := fmt.Sprintf(`
		SELECT
			login_id,
			role_id
		FROM login_role
		%s`, searchStmt)
	sqlSearch = d.DB.Rebind(sqlSearch)
	if errDB := d.DB.Select(lo, sqlSearch, args...); errDB != nil {
		return 0, ae.DBError("LoginRole Search: unable to select records.", errDB)
	}
	sqlCount := fmt.Sprintf(`
		SELECT
			COUNT(*)
		FROM login_role
		%s`, searchStmt)
	var count int
	sqlCount = d.DB.Rebind(sqlCount)
	if errDB := d.DB.Get(&count, sqlCount, args...); errDB != nil {
		return 0, ae.DBError("login_role Search: unable to select count.", errDB)
	}
	return count, nil
}

func (d *SQLLoginRole) Create(ctx context.Context, lo *LoginRole) error {
	sqlPost := `
		INSERT INTO login_role (
			login_id,
			role_id
		) VALUES (
			:login_id,
			:role_id
		)`
	_, errDB := d.DB.NamedExec(sqlPost, lo)
	if errDB != nil {
		return ae.DBError("LoginRole Post: unable to insert record.", errDB)
	}

	return nil
}

func (d *SQLLoginRole) Update(ctx context.Context, lo LoginRole) error {
	sqlPatch := `
		UPDATE login_role SET
			
		WHERE login_id = :login_id and role_id = :role_id`
	if _, errDB := d.DB.NamedExec(sqlPatch, lo); errDB != nil {
		return ae.DBError("LoginRole Patch: unable to update record.", errDB)
	}
	return nil
}

func (d *SQLLoginRole) Delete(ctx context.Context, lo *LoginRole) error {
	sqlDelete := `
		DELETE FROM login_role WHERE login_id = $1 and role_id = $2`
	if _, errDB := d.DB.Exec(sqlDelete, lo.LoginId, lo.RoleId); errDB != nil {
		return ae.DBError("LoginRole Delete: unable to delete record.", errDB)
	}
	return nil
}
