package auth

import (
	"context"
	"crypto/sha256"
	"crypto/sha512"
	"encoding/base64"
	"fmt"
	"time"

	"{{.ProjectPath}}/config"
	ae "{{.ProjectPath}}/internal/api_error"
	"{{.ProjectPath}}/internal/middleware"
	"{{.ProjectPath}}/internal/util"
	aa "{{.ProjectPath}}/internal/v1/authauthorize"
	ac "{{.ProjectPath}}/internal/v1/authclient"
	acc "{{.ProjectPath}}/internal/v1/authclientcallback"
	acs "{{.ProjectPath}}/internal/v1/authclientsecret"
	ar "{{.ProjectPath}}/internal/v1/authrefresh"
	l "{{.ProjectPath}}/internal/v1/login"
	"gopkg.in/guregu/null.v3"
)

type (
	ManagerAuth struct {}
)

func NewManagerAuth() *ManagerAuth {
	return &ManagerAuth{}
}

func (m *ManagerAuth) GetClientId(ctx context.Context, clientId string) (string, error) {
	// validate the client
	authClient := ac.AuthClient{Id: clientId}
	acs := ac.InitStorage()
	acm := ac.NewManagerAuthClient(acs)
	if err := acm.Get(ctx, &authClient); err != nil {
		return "", err
	}
	return authClient.Name.String, nil
}

func (m *ManagerAuth) OAuthSignIn(ctx context.Context, logIn OAuthLogin, authAuthorize aa.AuthAuthorize) (OAuthResponse, error) {
	oAuthResponse := OAuthResponse{}
	if !logIn.EmailAddr.Valid {
		return oAuthResponse, ae.MissingParamError("EmailAddress")
	}
	login := &l.Login{EmailAddr: logIn.EmailAddr}
	ls := l.InitStorage()
	err := ls.GetByEmailAddr(ctx, login)
	if err != nil {
		title := err.(ae.ApiError).BodyError().Title
		if title == "No Results Error" {
			return oAuthResponse, ae.EmailPasswordComboError()
		}
		return oAuthResponse, err
	}
	if err := util.CheckPassword(logIn.Pwd.String, login.Pwd.String); err != nil {
		return oAuthResponse, err
	}
	// make sure the redirect url is save on the client, another security check
	authClientCallback := acc.AuthClientCallback{ClientId: authAuthorize.ClientId.String, CallbackUrl: authAuthorize.RedirectUrl.String}
	accs := acc.InitStorage()
	accm := acc.NewManagerAuthClientCallback(accs)
	if err := accm.Get(ctx, &authClientCallback); err != nil {
		return oAuthResponse, err
	}
	authAuthorize.AuthCodeAt = null.TimeFrom(time.Now().UTC())
	authAuthorize.LoginId = null.StringFrom(login.Id)
	// save off auth authorize record
	aas := aa.InitStorage()
	aam := aa.NewManagerAuthAuthorize(aas)
	if err := aam.Post(ctx, &authAuthorize); err != nil {
		return oAuthResponse, err
	}

	oAuthResponse.AuthCode = authAuthorize.Id
	oAuthResponse.State = authAuthorize.State.String
	oAuthResponse.RedirectUrl = authAuthorize.RedirectUrl.String
	return oAuthResponse, nil
}

func (m *ManagerAuth) OAuthExchange(ctx context.Context, authToken OAuthToken) (OAuthToken, error) {
	// check the client_secret is valid
	authClientSecret := acs.AuthClientSecret{ClientId: null.StringFrom(authToken.ClientId), Secret: null.StringFrom(authToken.ClientSecret)} // TODO: add to forge
	acss := acs.InitStorage()
	acsm := acs.NewManagerAuthClientSecret(acss)
	if err := acsm.GetByIdAndSecret(ctx, &authClientSecret); err != nil {
		// TODO: send back different error if no record found
		return OAuthToken{}, err
	}
	if !authClientSecret.Active {
		return OAuthToken{}, ae.GeneralError("Inactive secret", fmt.Errorf("Invalid secret"))
	}
	// get the loginId from AuthAuthorize
	authAuthorize := aa.AuthAuthorize{Id: authToken.Code}
	aas := aa.InitStorage()
	aam := aa.NewManagerAuthAuthorize(aas)
	if err := aam.Get(ctx, &authAuthorize); err != nil {
		// TODO: send back different error if no record found
		return OAuthToken{}, ae.GeneralError("Bad AuthAuthorize", fmt.Errorf("Bad AuthAuthorize"))
	}
	// check the code
	if authToken.GrantType == "authorization_code" {
		return ExchangeAuthCode(authToken, authAuthorize)
	}
	if authToken.GrantType == "refresh_token" {
		return ExchangeRefreshToken(authToken, authAuthorize.LoginId.String)
	}
	return OAuthToken{}, fmt.Errorf("Invalid grant type")
}

func ExchangeAuthCode(ctx context.Context, authToken OAuthToken, authAuthorize aa.AuthAuthorize) (OAuthToken, error) {
	// will need to check the timing on when that code was created
	now := time.Now().UTC()
	expires := authAuthorize.AuthCodeAt.Time.Add(time.Duration(config.GetAuthorizationExpires()) * time.Second)
	if now.After(expires) {
		return OAuthToken{}, ae.GeneralError("The Auth Code has expired", fmt.Errorf("The Auth Code has expired"))
	}
	// base64 encode the code_verifier (pkce) and verify from the earlier saved off code_challenge (pkce) using the challenge_method
	coded, err := PkceCodeChallengeCheck(authToken.CodeVerifier, authAuthorize.VerifierEncodeMethod.String)
	if err != nil {
		return OAuthToken{}, err
	}
	if coded != authAuthorize.Verifier.String {
		return OAuthToken{}, ae.GeneralError("Invalid PKCE value", fmt.Errorf("Invalid Pkce value"))
	}
	// authRefresh := ar.AuthRefresh{LoginId: loginId, Token: authToken.RefreshToken}
	ars := ar.InitStorage()
	arm := ar.NewManagerAuthRefresh(ars)
	refreshToken, err := arm.CycleRefreshToken(ctx, ar.AuthRefresh{LoginId: authAuthorize.LoginId.String})
	if err != nil {
		return OAuthToken{}, nil
	}
	// build return authToken
	authTokenNew := OAuthToken{}
	authTokenNew.AccessToken, err = middleware.AuthBuild([]string{}) // TODO: add roles here for the user
	if err != nil {
		return OAuthToken{}, ae.GeneralError("Unable to build access token", fmt.Errorf("Unable to build access token"))
	}
	authTokenNew.ExpiresIn = config.GetAuthorizationExpires()
	authTokenNew.RefreshToken = refreshToken
	authTokenNew.Scope = "" // TODO: fill in your scope(s) here
	authTokenNew.TokenType = "bearer"
	return authTokenNew, nil
}

func ExchangeRefreshToken(ctx context.Context, authToken OAuthToken, loginId string) (OAuthToken, error) {
	// grant_type=refresh_token
	// TODO: we will want to hash the refresh token on save and then do the same here when comparing
	// TODO: add a config setting to either -1 [keep forever]; 0 [always refresh]; >0 [expire time interval]
	authRefresh := ar.AuthRefresh{LoginId: loginId, Token: authToken.RefreshToken}
	ars := ar.InitStorage()
	arm := ar.NewManagerAuthRefresh(ars)
	if err := arm.Get(ctx, &authRefresh); err != nil {
		// TODO: send back different error
		return OAuthToken{}, err
	}
	if !authRefresh.Active {
		return OAuthToken{}, fmt.Errorf("Inactive refresh token")
	}
	var err error
	authToken.AccessToken, err = middleware.AuthBuild([]string{}) // TODO: add roles here for the user
	if err != nil {
		return OAuthToken{}, fmt.Errorf("Unable to build access token")
	}
	refreshToken, err := arm.CycleRefreshToken(ar.AuthRefresh{LoginId: loginId}) // empty => old
	if err != nil {
		return OAuthToken{}, err
	}
	authToken.ExpiresIn = config.GetAuthorizationExpires()
	authToken.RefreshToken = refreshToken
	authToken.Scope = ""
	authToken.TokenType = "bearer"
	return authToken, nil
}

func PkceCodeChallengeCheck(code, method string) (string, error) {
	switch method {
	case "S256":
		sum := sha256.Sum256([]byte(code))
		coded := base64.StdEncoding.EncodeToString(sum[:32])
		return coded, nil
	case "S512":
		sum := sha512.Sum512([]byte(code))
		coded := base64.StdEncoding.EncodeToString(sum[:64])
		return coded, nil
	default:
		return "", fmt.Errorf("Invalid encoded method")
	}
}
