package {{.ProjectNameAllLower}}

import (
    {{.ModelImport}}
)

type (
    {{.ProjectNameCamel}} struct {
{{.ModelRows}}
    }

    {{.ProjectNameCamel}}Data struct {
        Data {{.ProjectNameCamel}} `json:"data"`
    }

    {{.ProjectNameCamel}}Param struct {
        // TODO: add any other custom params here
        util.Param
    }
)

const {{.ProjectNameCamel}}Const = "{{.ProjectNameLower}}"

func InitStorage() Data{{.ProjectNameCamel}}Adapter {
{{.ModelInitStorage}}
    return nil
}