package {{.AllLower}}

import (
    {{.ModelImport}}
)

type (
    {{.Camel}} struct {
{{.ModelRows}}
    }

    {{.Camel}}Data struct {
        Data {{.Camel}} `json:"data"`
    }

    {{.Camel}}Param struct {
        // TODO: add any other custom params here
        util.Param
    }
)

const {{.Camel}}Const = "{{.Lower}}"

func InitStorage() Data{{.Camel}}Adapter {
{{.ModelInitStorage}}
    return nil
}