package {{.CurrentEntity.AllLower}}

import (
    {{.ModelImport}}
)

type (
    {{.CurrentEntity.Camel}} struct {
{{.ModelRows}}
    }

    {{.CurrentEntity.Camel}}Data struct {
        Data {{.CurrentEntity.Camel}} `json:"data"`
    }

    {{.CurrentEntity.Camel}}Param struct {
        // TODO: add any other custom params here
        util.Param
    }
)

const {{.CurrentEntity.Camel}}Const = "{{.CurrentEntity.Lower}}"

func InitStorage() Data{{.CurrentEntity.Camel}}Adapter {
{{.ModelInitStorage}}
    return nil
}